@import url(https://fonts.googleapis.com/css?family=Exo:100);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font:
    400 16px/1.5 exo,
    ubuntu,
    "segoe ui",
    helvetica,
    arial,
    sans-serif;
  font-family: "NotoSans Kr", sans-serif;
  text-align: center;
  /* img size is 50x50 */
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC")
    repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 2s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 2s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 2s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 2s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

@layer components {
  .container {
    @apply w-full h-[800px] flex justify-center  pt-16;
  }
  .nav {
    @apply fixed top-0 left-0 w-full h-32 py-0 flex justify-center bg-transparent;
  }
  .button-hover {
    @apply transition-custom mx-2 hover:cursor-pointer hover:text-yellow-400;
  }
  .title {
    @apply text-5xl text-center font-bold drop-shadow-lg text-yellow-400;
  }
}
